@import '../index.css';

/* Media Query for phone*/
.card {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--bg-card);
    color: grey;
}

.card1 {
    border-left: 10px solid var(--bg-secondary);
}

.card1 h2 {
    color: var(--text-secondary);
}

.card2 {
    border-left: 10px solid #2AE500;
}

.card2 h2 {
    color: #2AE500;
}

.card3 {
    border-left: 10px solid #ff007f;
}

.card3 h2 {
    color: #ff007f;
}

.value {
    display: flex;
    align-items: end;
}

.value h2 {
    font-size: 2.5rem;
}

.card p {
    color: white;
}

@media(min-width: 1024px) {
    .card {
        max-width: 400px;
    }
}

@media(min-width: 1440px) {
    .card {
        max-width: 450px;
    }
}